In [14]:
import pandas as pd
dat = pd.read_csv("data/phythro_nba.csv", index_col=0)

In [15]:
dat.head()

,Unnamed: 0.1,Player,Height,Weight,College,Country,Draft_Year,Draft_Round,Draft_Number,Height_cm,Body_fat,Hand_length,Hand_width,Standing_reach,Wingspan,Wingspan_cm,Standing_reach_cm
0,0,Jerry Smith,6-2,190.0,Louisville,USA,1963,2,12,187.96,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Walker Russell,6-0,170.0,Jacksonville State,NaN,1982,4,78,182.88,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Mark Jones,6-6,215.0,St. Bonaventure,USA,1983,4,82,198.12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Hakeem Olajuwon,7-0,255.0,Houston,Nigeria,1984,1,1,213.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Kevin Willis,7-0,245.0,Michigan State,USA,1984,1,11,213.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
dat = dat.drop("Unnamed: 0.1", axis=1)

In [38]:
height_dat = dat[[
    "Player", "Height_cm"]
]

In [40]:
height_dat.to_csv("height_demo.csv", index=False)